<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog-code-list</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">BLOG --- HAIL AIRF</a>

  </div>
</nav>
    {% block content %}
    <div class="container">
      {% for instance in object_list %}

          <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="{{instance.image}}" style="width:100px;height:100px">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">{{instance.heading}}<i class="material-icons right">more_vert</i></span>
           <p><a href="/{{instance.id}}">View Blog</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">{{instance.heading}}<i class="material-icons right">close</i></span>
           <p>{{instance.description}}</p>

         </div>
       </div>

        <br/>
      {% endfor %}
    </div>


    {% endblock content %}
  </body>
</html>
